HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Docker & Build ###
*.jar
*.war
*.pid
.gradle/
**/build/
**/target/
**/.docker/

### Logs ###
*.log
logs/
log/

### Secrets & Config ###
src/main/resources/secret/
src/main/resources/application-*.yml
src/main/resources/application-*.properties

### Node (React) ###
node_modules/
dist/

### OS & Temporary files ###
.DS_Store

### 환경변수 (Docker 배포용)
../../.env
